<mat-card class="reservation-card" 
  [routerLink]="[isEnterpriseView ? '/enterprise/reservations' : '/reservations', reservation.id]">
  
  <div class="track-image">
    <img mat-card-image [src]="reservation.trackImage" alt="Track Icon" />
  </div>

  <mat-card-content class="reservation-info">
    <div class="reservation-details">
      <span class="track-name">{{ reservation.trackName }}</span>
      <span class="reservation-row">
        <mat-icon class="reservation-row-icon">group</mat-icon>
        {{ reservation.numParticipants }} {{ reservation.numParticipants === 1 ? 'participant' : 'participants' }}
      </span>
    </div>

    <div class="reservation-datetime">
      <span class="reservation-row">
        <mat-icon class="reservation-row-icon">event</mat-icon>
        <span>{{ formatedDate }}</span>
      </span>

      <span class="reservation-row">
        <mat-icon class="reservation-row-icon">schedule</mat-icon>
        <span>{{ reservation.numSessions }} {{ reservation.numSessions === 1 ? 'session' : 'sessions' }}</span>
      </span>
    </div>

    <div class="reservation-status" [class]="reservation.status">
      {{ reservation.status | titlecase }}
    </div>
  </mat-card-content>
</mat-card>
