
.reservation-card {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.reservation-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.track-image img {
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 12px;
  background-color: #eee;
}

.reservation-info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding-bottom: 0 !important;
}

.reservation-details {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.track-name {
  font-weight: bold;
  font-size: 1.3em;
}

.reservation-row {
  display: flex;
  gap: 10px;
}

.reservation-row-icon {
  margin-top: -1px;
}

.reservation-datetime {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reservation-actions, .reservation-status {
  width: 150px;
}

.reservation-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation-status {
  font-weight: bold;
  text-align: center;
}

.ACCEPTED { color: #137c17; }
.PENDING { color: #d17d00; }
.REJECTED, .CANCELLED { color: #c9170a; }
.CONCLUDED { color: blue; }

.reservation-action {
  border-radius: 5px;
  font-size: 0.8em;
  transition: all 0.2s ease-in-out;
}


.repeat {
  background-color: #000;
  color: white;
  border-color: #000;
}

.repeat:hover {
  background-color: #333;
  border-color: #333;
}