<mat-card class="reservation-card" 
  [routerLink]="[isEnterpriseView ? '/enterprise/reservations' : '/reservations', reservation.id]">
  
  <div class="track-image">
    <img mat-card-image [src]="reservation.trackImage" alt="Track Icon" />
  </div>

  <mat-card-content class="reservation-info">
    <div class="reservation-details">
      <span class="track-name">{{ reservation.trackName }}</span>
      <span class="reservation-row">
        <mat-icon class="reservation-row-icon">group</mat-icon>
        {{ reservation.numParticipants }} {{ reservation.numParticipants === 1 ? 'participant' : 'participants' }}
      </span>
    </div>

    <div class="reservation-datetime">
      <span class="reservation-row">
        <mat-icon class="reservation-row-icon">event</mat-icon>
        <span>{{ reservation.date }}</span>
      </span>

      <span class="reservation-row">
        <mat-icon class="reservation-row-icon">schedule</mat-icon>
        <span>{{ reservation.numSessions }} {{ reservation.numSessions === 1 ? 'session' : 'sessions' }}</span>
      </span>
    </div>

    <!-- Repeat button for CONCLUDED reservations in client view -->
    <div *ngIf="!isEnterpriseView && reservation.status === 'CONCLUDED'" class="reservation-actions">
      <button mat-stroked-button type="button" class="reservation-action repeat"
        [routerLink]="[isEnterpriseView ? '/enterprise/reservations/form' : '/reservations/form']">
        Repeat
      </button>
    </div>

    <!-- Status for other reservations -->
    <div *ngIf="reservation.status !== 'CONCLUDED'"
         class="reservation-status" [class]="reservation.status">
      {{ reservation.status | titlecase }}
    </div>
  </mat-card-content>
</mat-card>
