<form id="register-form" (ngSubmit)="register()" [formGroup]="form">
    <mat-form-field appearance="outline" id="name-field">
        <mat-label>Name</mat-label>
        <input matInput id="name" formControlName="name">
        <mat-error *ngIf="form.get('name')?.hasError('required')">Required Field</mat-error>
        <mat-error *ngIf="form.get('name')?.hasError('minLength') || form.get('name')?.hasError('maxLength')">
            Must be between 3 and 50 characters
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" id="email-field">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" id="email" formControlName="email">
        <mat-error *ngIf="form.get('email')?.hasError('required')">Required Field</mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email')">Please enter a valid email address</mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('maxLength')">Cannot exceed 100 characters</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" id="password-field">
        <mat-label>Password</mat-label>
        <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" />
        <mat-error *ngIf="form.get('password')?.hasError('required')">Required Field</mat-error>
        <mat-error *ngIf="form.get('password')?.hasError('minLength')">Must have at least 6 characters</mat-error>

        <button mat-icon-button type="button" matSuffix (click)="togglePassword()"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="showPassword">
            <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
    </mat-form-field>

    <button mat-raised-button type="submit" id="primary-button" [disabled]="form.invalid">
        Sign up
    </button>
</form>

<p>Already have an account? <a routerLink="/auth/login">Login!</a></p>
<p>Own a track? <a (click)="requestEnterprise()" routerLink="/home">Request an enterprise account!</a></p>
<p>Or feel free to <a routerLink="/home">stay as a guest.</a></p>
