.notifications-container {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  background-color: #f9f9f9;
  border-radius: 8px;
}

h2, h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  color: #333;
}

h3 {
  margin-top: 30px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.error-message,
.no-notifications {
  margin-bottom: 20px;
}

.notifications-list {
  display: grid;
  gap: 20px;
}

.notification-card {
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  color: #333;
  margin-bottom: 10px;
  cursor: default;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.notification-card mat-card-header {
  padding-bottom: 0;
}

.notification-card mat-card-title {
  font-size: 1.2em;
  font-weight: 500;
  color: #333;
}

.notification-card mat-card-subtitle {
  font-size: 0.9em;
  color: #555;
  display: flex;
  align-items: center;
  gap: 5px;
}

.unread-card {
  border: 1px solid #3f51b5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.read-card {
  opacity: 0.8;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
}

.unread-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

mat-card {
  margin-bottom: 20px;
}

mat-card-title {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #000000;
}

.notification-actions {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: flex-end;
}


.notification-card h4 {
  margin: 0;
  font-size: 1.1em;
  color: #333;
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.notification-card p {
  margin: 5px 0;
  color: #555;
  font-size: 0.9em;
}

.notification-date {
  display: block;
  text-align: right;
  font-size: 0.8em;
  color: #888;
  margin-top: 10px;
}

.no-notifications {
  text-align: center;
  color: #777;
  padding: 20px;
}

@media (max-width: 600px) {
  .notifications-container {
    padding: 10px;
  }
}
