<div id="hero-image"></div>

<section id="popular-section">
    <div class="section-header">
        <h2 class="section-title">Pistas Populares</h2>

        <div class="section-scroll-buttons">
            <button mat-icon-button class="scroll-button left" (click)="scrollLeft()">
                <mat-icon>navigate_before</mat-icon>
            </button>
            <button mat-icon-button class="scroll-button right" (click)="scrollRight()">
                <mat-icon>navigate_next</mat-icon>
            </button>
        </div>
    </div>
    
    <div class="scroll-wrapper">
        <div class="tracks-container" #scrollContainer>
            <mat-card class="track-card" *ngFor="let track of tracks">
                <mat-card-title>{{ track.name }}</mat-card-title>
                <mat-card-subtitle>{{ track.location }}</mat-card-subtitle>
                <img mat-card-image [src]="track.image" [alt]="track.name" />
            </mat-card>
        </div>
    </div>
</section>