<button mat-raised-button id="back-button" color="warn" (click)="goBack()">
  <mat-icon>cancel</mat-icon>
  Cancel
</button>
<mat-card class="reservation-form-card">
  <mat-card-header>
    <mat-card-title>Create New Reservation <span *ngIf="isEnterpriseView">For Your Clients</span></mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-stepper orientation="vertical" linear #stepper>

      <mat-step [stepControl]="trackSelectionFormGroup">
        <ng-template matStepLabel>
          Select the track
          <div *ngIf="trackSelectionFormGroup.valid && trackSelectionFormGroup.get('selectedTrack')?.value as track">
            <br>
            <small>{{ track.name }} ({{ track.address }})</small>
          </div>
        </ng-template>

        <form [formGroup]="trackSelectionFormGroup">
          <mat-form-field appearance="fill">
            <mat-label>Search Track</mat-label>

            <input type="text" placeholder="Enter track name or location" aria-label="Search Track" matInput
              formControlName="selectedTrack" [matAutocomplete]="auto"
              (blur)="validateUserInput(trackSelectionFormGroup.get('selectedTrack')!)">

            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayTrackFn"
              (optionSelected)="onTrackSelected()">
              <mat-option *ngFor="let track of filteredTracks | async" [value]="track">
                {{ track.name }} ({{ track.address }})
              </mat-option>
            </mat-autocomplete>

            <mat-error
              *ngIf="trackSelectionFormGroup.get('selectedTrack')?.hasError('required') && trackSelectionFormGroup.get('selectedTrack')?.touched">
              Track is required.
            </mat-error>
            <mat-error *ngIf="trackSelectionFormGroup.get('selectedTrack')?.hasError('invalidOption')">
              Please select a track from the list.
            </mat-error>
          </mat-form-field>

          <div>
            <button mat-button matStepperNext [disabled]="trackSelectionFormGroup.invalid">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="dateTimeSelectionFormGroup">
        <ng-template matStepLabel>
          Select the date and time
          <div *ngIf="dateTimeSelectionFormGroup.valid && 
            selectedDate && dateTimeSelectionFormGroup.get('selectedSlots')?.value as slots">
            <br>
            <small>
              {{ formatedDate }} 
              <mat-icon>arrow_right</mat-icon>
              {{ formattedSortedSlots }}
            </small>
          </div>
        </ng-template>

        <form [formGroup]="dateTimeSelectionFormGroup">
          <div id="date-container">
            <mat-label>Choose a date</mat-label>
            <mat-calendar [(selected)]="selectedDate" (selectedChange)="onDateSelected()"></mat-calendar>
          </div>

          <span *ngIf="!selectedDate">Select a date.</span>

          <div *ngIf="selectedDate" id="slots-container">
            <mat-label>
              Choose one or more time slots
              <span *ngIf="slots && slots.length > 0">(Sessions of {{slotDuration}} minutes)</span>
            </mat-label>
            <ng-container class="slots-list" *ngIf="slots && slots.length > 0; else noSlots">
              <button mat-stroked-button *ngFor="let slot of slots" [disabled]="!slot.available" [ngClass]="{ 'selected-slot': isSlotSelected(slot),
											 'occupied-slot': !slot.available }" (click)="toggleSlotSelection(slot)">
                {{ formatTime(slot.startTime) }}
              </button>
            </ng-container>
            <ng-template #noSlots>
              <p>The track is closed on this date.</p>
            </ng-template>

            <mat-error *ngIf="dateTimeSelectionFormGroup.get('selectedSlots')?.hasError('required') 
								&& dateTimeSelectionFormGroup.get('selectedSlots')?.touched">
              Please select at least one time slot.
            </mat-error>
            <mat-error *ngIf="dateTimeSelectionFormGroup.get('selectedSlots')?.hasError('maxSlots') 
								&& dateTimeSelectionFormGroup.get('selectedSlots')?.touched">
              You can not select more than 4 slots.
            </mat-error>
          </div>

          <div class="stepper-actions">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext [disabled]="dateTimeSelectionFormGroup.invalid">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="participantsKartsFormGroup" label="Select the participants and their karts">
        <form [formGroup]="participantsKartsFormGroup">

          <div formArrayName="participants" id="participants-container">
            <div *ngFor="let participant of participants.controls; let i = index" [formGroupName]="i"
              class="participant-row">

              <mat-form-field appearance="fill">
                <mat-label>Search User</mat-label>

                <input type="text" placeholder="Enter user name or email" aria-label="Search User" matInput
                  formControlName="user" [matAutocomplete]="auto" (blur)="validateUserInput(participant.get('user')!)">

                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUserFn">
                  <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                    {{ user.username }} - {{ user.email }}
                  </mat-option>
                </mat-autocomplete>

                <mat-error *ngIf="participant.get('user')?.hasError('required') && participant.get('user')?.touched">
                  User is required.
                </mat-error>
                <mat-error *ngIf="participant.get('user')?.hasError('invalidOption')">
                  Please select a user from the list.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="participant-kart">
                <mat-label> Select Kart</mat-label>

                <mat-select formControlName="kart" required>
                  <ng-container *ngFor="let group of groupedKarts">
                    <mat-optgroup [label]="group.model">
                      <mat-option *ngFor="let kart of group.karts" [value]="kart.id">
                        Kart {{ kart.kartNumber }}
                      </mat-option>
                    </mat-optgroup>
                  </ng-container>
                </mat-select>

                <mat-error *ngIf="participant.get('kart')?.hasError('required')">Please select a kart</mat-error>
              </mat-form-field>

              <button mat-icon-button type="button" color="warn" class="remove-participant"
                (click)="removeParticipant(i)">
                <mat-icon>delete</mat-icon>
              </button>

              <mat-error *ngIf="participantsKartsFormGroup.hasError('required')">
                At least one participant is required.
              </mat-error>
              <mat-error *ngIf="participantsKartsFormGroup.hasError('tooManyParticipants')">
                Too many participants for the number of available karts.
              </mat-error>
              <mat-error *ngIf="participantsKartsFormGroup.hasError('missingFields')">
                All participants must have a user and a kart selected.
              </mat-error>
              <mat-error *ngIf="participantsKartsFormGroup.hasError('invalidUser')">
                One or more participants have an invalid user.
              </mat-error>
              <mat-error *ngIf="participantsKartsFormGroup.hasError('duplicatedUser')">
                A participant has been selected more than once.
              </mat-error>
              <mat-error *ngIf="participantsKartsFormGroup.hasError('duplicatedKart')">
                A kart has been assigned to more than one participant.
              </mat-error>

              <mat-divider></mat-divider>
            </div>
          </div>

          <button mat-stroked-button type="button" class="add-participant" (click)="addParticipant()"
            [disabled]="participants.length >= karts.length">
            <mat-icon>person_add</mat-icon>
            Add Participant
          </button>
          <span *ngIf="participants.length >= karts.length">Maximum number of participants reached</span>

          <div class="stepper-actions">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-flat-button color="accent" (click)="submitReservation()"
              [disabled]="participantsKartsFormGroup.invalid">
              <mat-icon>save</mat-icon>
              Create Reservation
            </button>
          </div>
        </form>
      </mat-step>

    </mat-stepper>
  </mat-card-content>
</mat-card>