<div id="title-section">
  <button mat-stroked-button id="back-button" color="warn" (click)="goBack()">
    <mat-icon>cancel</mat-icon>
    Discard
  </button>
  <h1 id="title">Submit a New Reservation</h1>
</div>

<div class="reservation-form-card">
  <mat-stepper orientation="vertical" linear #stepper>

    <mat-step [stepControl]="trackSelectionFormGroup">
      <ng-template matStepLabel>
        <span class="step-title">Select the track</span>
        <div *ngIf="trackSelectionFormGroup.valid && trackSelectionFormGroup.get('selectedTrack')?.value as track">
          {{ track.name }} ({{ track.address }})
        </div>
      </ng-template>

      <form [formGroup]="trackSelectionFormGroup" class="step-content">
        <mat-form-field appearance="fill" class="track-search-field">
          <mat-label>Search track</mat-label>
          <input type="text" placeholder="Track name or location" aria-label="Search Track" matInput
                 formControlName="selectedTrack" [matAutocomplete]="auto"
                 (blur)="validateUserInput(trackSelectionFormGroup.get('selectedTrack')!)">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayTrackFn"
                            (optionSelected)="onTrackSelected()">
            <mat-option *ngFor="let track of filteredTracks | async" [value]="track">
              {{ track.name }} ({{ track.address }})
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="trackSelectionFormGroup.get('selectedTrack')?.hasError('required') && trackSelectionFormGroup.get('selectedTrack')?.touched">
            Choosing a track is mandatory.
          </mat-error>
          <mat-error *ngIf="trackSelectionFormGroup.get('selectedTrack')?.hasError('invalidOption')">
            Choose a track from the list
          </mat-error>
        </mat-form-field>

        <div class="stepper-actions">
          <button mat-stroked-button matStepperNext [disabled]="trackSelectionFormGroup.invalid">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="dateTimeSelectionFormGroup">
      <ng-template matStepLabel>
        <span class="step-title">Select the date and hours</span>
        <div id="selected-date-slots" *ngIf="dateTimeSelectionFormGroup.valid && selectedDate && 
                    dateTimeSelectionFormGroup.get('selectedSlots')?.value as slots">
            <span>{{ formatedDate }}</span> 
            <mat-icon>arrow_right</mat-icon>
            <span>{{ formattedSortedSlots }}</span>
        </div>
      </ng-template>

      <form [formGroup]="dateTimeSelectionFormGroup" class="step-content">
        <div class="date-time-form-content">
          <div id="date-container">
            <mat-label class="form-section-title">Choose a date</mat-label>
            <mat-calendar [(selected)]="selectedDate" (selectedChange)="onDateSelected()" [minDate]="minSelectableDate"></mat-calendar>
          </div>

          <div id="slots-main-container">
            <span *ngIf="!selectedDate" class="no-date-selected-message">Choose a date to see the available schedules.</span>

            <div *ngIf="selectedDate" id="slots-container">
              <mat-label class="form-section-title">
                Choose one or more schedules
                <small *ngIf="slots && slots.length > 0" id="slot-duration">Sessions of {{slotDuration}} minutes</small>
              </mat-label>
              <div class="compact-slots-container" *ngIf="slots && slots.length > 0; else noSlots">
                <button class="compact-slot" mat-flat-button *ngFor="let slot of slots" [disabled]="!slot.available"
                        [ngClass]="{ 'selected-slot': isSlotSelected(slot), 'occupied-slot': !slot.available }"
                        (click)="toggleSlotSelection(slot)">
                  {{ formatTime(slot.startTime) }}
                </button>
              </div>
              <ng-template #noSlots>
                <p class="no-slots-message">Track is closed on that day.</p>
              </ng-template>

              <mat-error *ngIf="dateTimeSelectionFormGroup.get('selectedSlots')?.hasError('required') 
                            && dateTimeSelectionFormGroup.get('selectedSlots')?.touched">
                Choose at least one schedule.
              </mat-error>
              <mat-error *ngIf="dateTimeSelectionFormGroup.get('selectedSlots')?.hasError('maxSlots') 
                            && dateTimeSelectionFormGroup.get('selectedSlots')?.touched">
                You can't select more than 4 schedules.
              </mat-error>
            </div>
          </div>
        </div>

        <div class="stepper-actions">
          <button mat-stroked-button matStepperPrevious>Previous Step</button>
          <button mat-stroked-button matStepperNext [disabled]="dateTimeSelectionFormGroup.invalid">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="participantsKartsFormGroup">
      <ng-template matStepLabel>
        <span class="step-title">Choose the participants and the karts</span>
      </ng-template>
      <form [formGroup]="participantsKartsFormGroup" class="step-content">
        <div formArrayName="participants" id="participants-container">
          <mat-label class="form-section-title" *ngIf="participants.length === 0">Start choosing the pilots.</mat-label>
          <div *ngFor="let participant of participants.controls; let i = index" [formGroupName]="i" class="participant-card">
            <mat-form-field class="user-search-field" appearance="outline">
              <mat-icon matPrefix>person</mat-icon> 
              <mat-label>Search Users</mat-label>
              <input type="text" placeholder="Search Users" aria-label="Search User" matInput
                formControlName="user" [matAutocomplete]="auto"
                (blur)="validateUserInput(participant.get('user')!)"
                class="user-input-override">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUserFn">
                <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                  {{ user.username }} - {{ user.email }}
                  <span *ngIf="currentUser?.id === user.id" class="current-user-tag">(You)</span>
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="participant.get('user')?.hasError('required') && participant.get('user')?.touched">
                User is mandatory.
              </mat-error>
              <mat-error *ngIf="participant.get('user')?.hasError('invalidOption')">
                Choose a valid user.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="participant-kart-select">
              <mat-label>Kart</mat-label>
              <mat-select formControlName="kart" required>
                <ng-container *ngFor="let group of groupedKarts">
                  <mat-optgroup [label]="group.model">
                    <mat-option *ngFor="let kart of group.karts" [value]="kart.id">
                      Kart {{ kart.kartNumber }}
                    </mat-option>
                  </mat-optgroup>
                </ng-container>
              </mat-select>
              <mat-error *ngIf="participant.get('kart')?.hasError('required')">Select a kart</mat-error>
            </mat-form-field>

            <button mat-icon-button type="button" color="warn" class="remove-participant" (click)="removeParticipant(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>

        <button mat-stroked-button type="button" class="add-participant-button" (click)="addParticipant()"
                [disabled]="participants.length >= karts.length">
          <mat-icon>person_add</mat-icon>
          Add participant
        </button>
        
        <div id="participants-form-errors">
          <mat-error *ngIf="participants.length >= karts.length">
            Maxiumum participants reached
          </mat-error>
          <mat-error *ngIf="participantsKartsFormGroup.hasError('required')">
            At least 1 participant is needed
          </mat-error>
          <mat-error *ngIf="participantsKartsFormGroup.hasError('tooManyParticipants')">
            Too many participants for the available karts,
          </mat-error>
          <mat-error *ngIf="participantsKartsFormGroup.hasError('missingFields')">
            Every participant must have a selected kart.
          </mat-error>
          <mat-error *ngIf="participantsKartsFormGroup.hasError('invalidUser')">
            One or more participants have an invalid username.
          </mat-error>
          <mat-error *ngIf="participants.hasError('duplicatedUser')">
            You can't have duplicated participants.
          </mat-error>
          <mat-error *ngIf="participants.hasError('duplicatedKart')">
            Two or more participants can't share the same kart.
          </mat-error>
          <mat-error *ngIf="participants.hasError('mustIncludeCurrentUser')">
            You need to be in the participants list.
          </mat-error>
          <mat-error *ngIf="participants.hasError('cannotIncludeCurrentUser')">
            As the owner, you can't be in the participants list.
          </mat-error>
        </div>


        <div class="stepper-actions">
          <button mat-stroked-button matStepperPrevious>Previous Step</button>
          <button mat-stroked-button type="submit" id="submit-button" (click)="submitReservation()">
            <mat-icon>save</mat-icon>
            Submit Reservation
          </button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
