<div id="reservations-content">
  <div id="banner-image"></div>
  <section id="reservations-container">

    <section id="reservations-header">
      <h1 id="title">Reservations</h1>

      <button mat-stroked-button type="button" id="new-reservation-button">
        <mat-icon>add</mat-icon>
        New Reservation
      </button>
    </section>

    <mat-tab-group id="sub-navigation" mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Active">
        <div class="selected-tab">

          <div *ngIf="todayActiveReservations.length > 0" class="reservation-group">
            <h2 class="reservation-group-title">Today</h2>

            <mat-card class="reservation-card" *ngFor="let reservation of todayActiveReservations">
              <div class="track-image">
                <img mat-card-image [src]="reservation.trackImage" alt="Track Icon">
              </div>

              <mat-card-content class="reservation-info">
                <div class="reservation-details">
                  <span class="track-name">{{ reservation.trackName }}</span>
                  <span class="reservation-row">
                    <mat-icon class="reservation-row-icon">group</mat-icon>
                    {{ reservation.numberOfParticipants }} participants
                  </span>
                </div>

                <div class="reservation-datetime">
                  <span class="reservation-row">
                    <mat-icon class="reservation-row-icon">calendar_today</mat-icon>
                    <span>{{ reservation.date }}</span>
                  </span>

                  <span class="reservation-row">
                    <mat-icon class="reservation-row-icon">schedule</mat-icon>
                    <span>{{ reservation.numberOfSlots }} Slots</span>
                  </span>
                </div>

                <div class="reservation-status" [class]="reservation.status">
                  {{ reservation.status | titlecase }}
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <div *ngIf="futureActiveReservations.length > 0" class="reservation-group">
            <h2 class="reservation-group-title">Future</h2>

            <mat-card class="reservation-card" *ngFor="let reservation of futureActiveReservations">
              <div class="track-image">
                <img mat-card-image [src]="reservation.trackImage" alt="Track Icon">
              </div>

              <mat-card-content class="reservation-info">
                <div class="reservation-details">
                  <span class="track-name">{{ reservation.trackName }}</span>
                  <span class="reservation-row">
                    <mat-icon class="reservation-row-icon">group</mat-icon>
                    {{ reservation.numberOfParticipants }} participants
                  </span>
                </div>

                <div class="reservation-datetime">
                  <span class="reservation-row">
                    <mat-icon class="reservation-row-icon">calendar_today</mat-icon>
                    <span>{{ reservation.date }}</span>
                  </span>

                  <span class="reservation-row">
                    <mat-icon class="reservation-row-icon">schedule</mat-icon>
                    <span>{{ reservation.numberOfSlots }} Slots</span>
                  </span>
                </div>

                <div class="reservation-status" [class]="reservation.status">
                  {{ reservation.status | titlecase }}
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <div *ngIf="activeReservations.length === 0" class="no-reservations">
            No active reservations.
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Completed">
        <div class="selected-tab">

          <mat-card class="reservation-card" *ngFor="let reservation of completedReservations">
            <div class="track-image">
                <img mat-card-image [src]="reservation.trackImage" alt="Track Icon">
              </div>

            <mat-card-content class="reservation-info">
              <div class="reservation-details">
                <span class="track-name">{{ reservation.trackName }}</span>
                <span class="reservation-row">
                  <mat-icon class="reservation-row-icon">group</mat-icon>
                  {{ reservation.numberOfParticipants }} participants
                </span>
              </div>

              <div class="reservation-datetime">
                <span class="reservation-row">
                  <mat-icon class="reservation-row-icon">calendar_today</mat-icon>
                  <span>{{ reservation.date }}</span>
                </span>

                <span class="reservation-row">
                  <mat-icon class="reservation-row-icon">schedule</mat-icon>
                  <span>{{ reservation.numberOfSlots }} Slots</span>
                </span>
              </div>

              <div *ngIf="reservation.status === 'CONCLUDED'" class="reservation-actions">
                <button mat-stroked-button type="button" class="reservation-action repeat">Repeat</button>
              </div>
              <div *ngIf="reservation.status === 'REJECTED'" class="reservation-status REJECTED">
                {{ reservation.status | titlecase }}
              </div>
            </mat-card-content>
          </mat-card>

          <div *ngIf="completedReservations.length === 0" class="no-reservations">
            No completed reservations.
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
</div>
