<div id="reservations-content">
  <div id="banner-image"></div>
  <section id="reservations-container">

    <section id="reservations-header">
      <h1 id="title">Reservations</h1>

      <button mat-stroked-button type="button" id="new-reservation-button" [routerLink]="['/reservations/form']">
        <mat-icon>add</mat-icon>
        New Reservation
      </button>
    </section>

    <mat-tab-group id="sub-navigation" mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Active">
        <div class="selected-tab">

          <div *ngIf="todayActiveReservations.length > 0" class="reservation-group">
            <h2 class="reservation-group-title">Today</h2>

            <app-reservation-card *ngFor="let reservation of todayActiveReservations" class="reservation-card"
              [reservation]="reservation" [isEnterpriseView]="false">
            </app-reservation-card>
          </div>

          <div *ngIf="futureActiveReservations.length > 0" class="reservation-group">
            <h2 class="reservation-group-title">Future</h2>

            <app-reservation-card *ngFor="let reservation of futureActiveReservations" class="reservation-card"
              [reservation]="reservation" [isEnterpriseView]="false">
            </app-reservation-card>
          </div>

          <div *ngIf="activeReservations.length === 0" class="no-reservations">
            No active reservations.
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Completed">
        <div class="selected-tab" id="completed-tab">
          <app-reservation-card *ngFor="let reservation of completedReservations" class="reservation-card"
            [reservation]="reservation" [isEnterpriseView]="false">
          </app-reservation-card>

          <div *ngIf="completedReservations.length === 0" class="no-reservations">
            No completed reservations.
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
</div>
