<div class="session-detail-container" *ngIf="session">
  <div class="content-wrapper">
    <div class="left-column">

      <div class="session-data-header-card">
        <button class="back-button" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h2>Session Details</h2>
      </div>


      <h2>Podium</h2>
      <div class="podium-grid-real">
        <div class="podium-item silver-podium second-place" *ngIf="podium[1]">
          <img [src]="podium[1].driverPicture" alt="{{ podium[1].driverName }} Profile">
          <p class="driver-name">{{ podium[1].driverName }}</p>
          <span class="position-badge">{{ podium[1].finalPosition }}</span>
        </div>

        <div class="podium-item gold-podium first-place" *ngIf="podium[0]">
          <img [src]="podium[0].driverPicture" alt="{{ podium[0].driverName }} Profile">
          <p class="driver-name">{{ podium[0].driverName }}</p>
          <span class="position-badge">{{ podium[0].finalPosition }}</span>
        </div>

        <div class="podium-item bronze-podium third-place" *ngIf="podium[2]">
          <img [src]="podium[2].driverPicture" alt="{{ podium[2].driverName }} Profile">
          <p class="driver-name">{{ podium[2].driverName }}</p>
          <span class="position-badge">{{ podium[2].finalPosition }}</span>
        </div>
      </div>

    </div>

    <div class="right-column">
      <div class="track-details-card">
        <h1>{{ session.trackName }}</h1>
        <div class="session-details-right">
          <div class="data-row">
            <span class="label">Date</span>
            <span class="value">{{ session.date }}</span>
          </div>
          <div class="data-row">
            <span class="label">No. participants</span>
            <span class="value">{{ session.classifications.length }}</span>
          </div>
          <div class="data-row">
            <span class="label">Duration</span>
            <span class="value">{{ session.sessionDuration }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="rankings-section">
      <table class="rankings-table">
        <thead>
        <tr>
          <th>Pos.</th>
          <th>Pilot</th>
          <th>Kart</th>
          <th>Laps</th>
          <th>Avg Time</th>
          <th>Best time</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let classification of session.classifications; let i = index">
          <td class="pos-highlight"
              [class.gold]="classification.finalPosition === 1"
              [class.silver]="classification.finalPosition === 2"
              [class.bronze]="classification.finalPosition === 3">
            {{ classification.finalPosition }}.
          </td>
          <td>
            <div class="pilot-info">
              <img [src]="classification.driverPicture" alt="{{ classification.driverName }} Profile" class="driver-profile-mini">
              <span>{{ classification.driverName }}</span>
            </div>
          </td>
          <td>{{ classification.kartNumber }}</td>
          <td>{{ classification.totalLaps }}</td>
          <td class="align-center-value">{{ classification.averageLapTime.toFixed(3) }}</td>
          <td class="align-center-value">{{ classification.bestLapTime.toFixed(3) }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
