html, body { height: 100vh; width: 100vw; }
body { 
    margin: 0;
    overflow-x: hidden;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

:root {
    --warning-red: #d73a3a;
}