<div id="track-detail-container" *ngIf="track">
  <div id="hero-image-placeholder">
    <img *ngIf="track.images[0]" [src]="track.images[0]" alt="Track Map" id="hero-image">
    <button mat-raised-button id="back-button" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
      Back
    </button>
  </div>

  <div id="content-wrapper">
    <section id="header-section">
      <h1 id="track-name">{{ track.name }}</h1>

      <!-- CLIENT VIEW ACTIONS -->
      <div id="actions" *ngIf="isLoggedIn && !isEnterpriseView">
        <button mat-icon-button type="button" id="set-fav" (click)="setFav()">
          <mat-icon>{{ isFav ? 'star' : 'star_border' }}</mat-icon>
        </button>

        <button mat-stroked-button id="view-sessions-button" [routerLink]="['/sessions']">
          My Sessions
        </button>

        <button mat-stroked-button id="book-button" (click)="goToCreateReservation()">
          New Reservation
        </button>
      </div>

      <!-- ENTERPRISE VIEW ACTIONS -->
      <div id="actions" *ngIf="isEnterpriseView">
        <button mat-stroked-button (click)="toggleOperational()"
          [color]="track.isAvailable ? 'warn' : 'primary'"
          [ngClass]="track.isAvailable ? 'btn-close-track' : 'btn-open-track'">
          {{ track.isAvailable ? 'Close Track to Public' : 'Reopen Track' }}
        </button>

        <button mat-stroked-button color="primary" disabled>
          Edit Details
        </button>

        <button mat-stroked-button color="accent" (click)="goToCreateReservation()" [disabled]="!track.isAvailable">
          Create Reservation
        </button>
      </div>
    </section>


    <mat-tab-group id="sub-navigation" mat-stretch-tabs="false" mat-align-tabs="start"
      (selectedTabChange)="onTabChange($event)">

      <mat-tab label="Details">
        <div id="details-section">
          <mat-card id="details-card">
            <div class="info-row">
              <span class="label">Track Status</span>
              <span class="value status-details">
                <span class="status-label">
                  {{ track.isAvailable ? 'Operational' : 'Not Operational' }}
                </span>
                <span class="status-dot" 
                  [ngStyle]="{ 'background-color': track.isAvailable ? 'green' : 'red' }">
                </span>
              </span>
            </div>
            <div class="info-row">
              <span class="label">Address</span>
              <span class="value">{{ track.address }}</span>
            </div>
            <div class="info-row">
              <span class="label">Karts available</span>
              <span class="value">{{track.availableKartsCount}}</span>
            </div>
            <div class="info-row">
              <span class="label">Schedule</span>
              <div class="value" id="schedule-details">
                <ng-container *ngIf="track.schedule && track.schedule.length > 0; else noSchedule">
                  <p *ngFor="let day of track.schedule" class="schedule-day">
                    <span>{{ day.day | titlecase }}:</span>
                    <ng-container *ngIf="day.openingTime === day.closingTime; else open">
                      Closed
                    </ng-container>
                    <ng-template #open>
                      {{ formatTime(day.openingTime) }} - {{ formatTime(day.closingTime) }}
                    </ng-template>
                  </p>
                </ng-container>
                <ng-template #noSchedule>
                  <p>No schedule available.</p>
                </ng-template>
              </div>
            </div>
            <div class="info-row">
              <span class="label">Pricing</span>
              <div class="value" id="price-details">
                <p><span>{{track.slotDuration}} min:</span> {{ track.slotPrice.toFixed(2) }} €</p>
                <p><span>{{track.slotDuration * 2}} min:</span> {{ (track.slotPrice * 2 - 5).toFixed(2) }} €</p>
                <p><span>{{track.slotDuration * 4}} min:</span> {{ (track.slotPrice * 4 - 15).toFixed(2) }} €</p>
              </div>
            </div>
            <div class="info-row">
              <span class="label">Contacts</span>
              <div class="value" id="contact-details">
                <p><mat-icon>mail</mat-icon> {{ track.email }}</p>
                <p><mat-icon>phone</mat-icon> {{ track.phoneNumber }}</p>
              </div>
            </div>
          </mat-card>

          <section class="image-gallery">
            <img *ngIf="track.images[0]" [src]="track.images[0]" alt="Track Map">
            <img *ngIf="track.images[1]" [src]="track.images[1]" alt="Kart Track View 1">
            <img *ngIf="track.images[2]" [src]="track.images[2]" alt="Kart Track View 2">
          </section>
        </div>
      </mat-tab>

      <mat-tab label="Rankings" *ngIf="!isEnterpriseView">
        <div class="rankings-section">
          <table class="rankings-table" *ngIf="track.rankings && track.rankings.length > 0; else noRankings">
            <thead>
              <tr>
                <th>Pos.</th>
                <th>Pilot</th>
                <th>Kart</th>
                <th>Date</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ranking of track.rankings; let i = index" [class.gold-row]="i === 0"
                [class.silver-row]="i === 1" [class.bronze-row]="i === 2">
                <td class="pos-highlight" [class.gold]="i === 0" [class.silver]="i === 1" [class.bronze]="i === 2">
                  {{ i + 1 }}.
                </td>
                <td>
                  <mat-icon class="purple-icon" *ngIf="i < 3">star</mat-icon>
                  {{ ranking.driverName }}
                </td>
                <td>{{ ranking.kartNumber }}</td>
                <td>{{ formatDate(ranking.date) }}</td>
                <td>{{ ranking.lapTime.toFixed(3) }}</td>
              </tr>
            </tbody>
          </table>
          <ng-template #noRankings>
            <p>No rankings available.</p>
          </ng-template>
          <div class="load-more" *ngIf="track.rankings && track.rankings.length === 20">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Active Reservations" *ngIf="isEnterpriseView">
        <div class="selected-tab">
          <div *ngIf="todayActiveReservations.length > 0" class="reservation-group">
            <h2 class="reservation-group-title">Today</h2>

            <app-reservation-card *ngFor="let reservation of todayActiveReservations" class="reservation-card" 
              [reservation]="reservation" [isEnterpriseView]="true">
            </app-reservation-card>
          </div>

          <div *ngIf="futureActiveReservations.length > 0" class="reservation-group">
            <h2 class="reservation-group-title">Future</h2>

            <app-reservation-card *ngFor="let reservation of futureActiveReservations" class="reservation-card"
              [reservation]="reservation" [isEnterpriseView]="true">
            </app-reservation-card>
          </div>

          <div *ngIf="trackActiveReservations?.length === 0" class="no-reservations">
            No active reservations.
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Completed Reservations" *ngIf="isEnterpriseView">
        <div class="selected-tab" id="completed-tab">
          <app-reservation-card *ngFor="let reservation of trackConcludedReservations" class="reservation-card"
            [reservation]="reservation" [isEnterpriseView]="true">
          </app-reservation-card>

          <div *ngIf="trackConcludedReservations?.length === 0" class="no-reservations">
            No completed reservations.
          </div>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>