nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
}

#nav-home-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 30px;
  margin-right: auto;
}

#nav-home-title {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}

#nav-home-subtitle {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #444; /* Lighter gray for "Enterprise" */
  margin: 4px 0 0;
  padding-left: 5px;
}

#nav-right-group {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#nav-links {
  display: flex;
}

#nav-links a {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 0 15px; /* Spacing between links */
  height: 60px;
  line-height: 60px;
  transition: color 0.2s ease; /* Smooth hover effect */
}

::ng-deep .mdc-tab-indicator--active {
  border-bottom: 3px solid black !important; /* your color */
  transition: border-bottom 0.2s ease; /* Smooth hover effect */
}

::ng-deep .mdc-tab-indicator__content{
  display: none;
}

.nav-account-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 30px 0 15px;
}

#login-button {
  background-color: #000000; /* Black background for login button */
  color: #ffffff; /* White text */
  border-radius: 5px;
}

#login-button:hover {
  background-color: #222; /* Slightly lighter black on hover */
}

::ng-deep .mat-badge-content {
  background-color: var(--warning-red) !important;
}

#user-button {
  background-color: #eee;
  color: #000000;
  border-radius: 5px;
}

#profile-button, #enterprise-toogle-button, #logout-button {
  justify-content: left;
  width: 150px;
}

#logout-button * {
  color: var(--warning-red);
}

#logout-icon {
  margin-left: 10px;
}


#main-content {
  height: 91%;
  /* Adjust this based on your navigation bar height */
  overflow-y: auto;
  /* Enable vertical scrolling */
}

/* Custom scrollbar styles */
#main-content::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

#main-content::-webkit-scrollbar-track {
  background: var(--scroll-blue-track);
  /* Background of the scrollbar track */
  border-radius: 10px;
  /* Rounding the corners */
}

#main-content::-webkit-scrollbar-thumb {
  background: var(--scroll-blue);
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Rounding the corners */
}

#main-content::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-blue-hover);
  /* Color when hovered */
}

@media (max-width: 450px) {
  #main-content::-webkit-scrollbar {
    display: none;
  }

  /* This is for other browsers like Firefox */
  #main-content {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}
