<nav mat-tab-nav-bar [tabPanel]="tabPanel" *ngIf="!isAuthPage">

  <!-- Left content -->
  <div id="nav-home-container" [routerLink]="isEnterpriseView ? 'enterprise/home' : 'home'">
    <img id="nav-home-logo" src="logo.png" alt="Logo">
    <h3 id="nav-home-title"> {{ isEnterpriseView ? "WW" : "WACKY WHEELS" }} </h3>
    <h4 id="nav-home-subtitle"> {{ isEnterpriseView ? "Enterprise" : "" }} </h4>
  </div>

  <!-- Right content -->
  <div id="nav-right-group">
    
    <!-- Main Links -->
    <div id="nav-links">
      <!-- Personal links -->
      <a mat-tab-link *ngIf="!isEnterpriseView" routerLink="tracks"
        routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"> 
        Tracks 
      </a>
      <a mat-tab-link *ngIf="isLoggedIn && !isEnterpriseView" routerLink="reservations"
        routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"> 
        Reservations 
      </a>
      <a mat-tab-link *ngIf="isLoggedIn && !isEnterpriseView" routerLink="sessions"
        routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"> 
        Sessions 
      </a>
      
      <!-- Entreprise links -->
      <a mat-tab-link *ngIf="isLoggedIn && isEnterpriseView" routerLink="enterprise/home"
        routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"> 
        My Tracks 
      </a>
      <a mat-tab-link *ngIf="isLoggedIn && isEnterpriseView" routerLink="enterprise/home"
        routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"> 
        Reservations 
      </a>
    </div>
    
    <!-- Anonimous User or logged out -->
    <div *ngIf="!isLoggedIn" class="nav-account-container">
      <button mat-stroked-button type="button" routerLink="auth/login" id="login-button"> 
        Login
        <mat-icon>login</mat-icon>
      </button>
    </div>
    
    <!-- User logged in -->
    <div *ngIf="isLoggedIn" class="nav-account-container">
      <button mat-icon-button routerLink="notifications" type="button" id="notifications-button"  [class.active]="isNotificationsPage">
        <mat-icon [matBadge]="unreadNotificationCount" [matBadgeHidden]="!unreadNotificationCount" aria-hidden="false">
          notifications_none
        </mat-icon>
      </button>
      <button mat-stroked-button [matMenuTriggerFor]="profilemenu" type="button" id="user-button">
        {{ userName }}
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
    <mat-menu #profilemenu="matMenu" id="user-menu">
      <a mat-tab-link routerLink="profile" id="profile-button"> My Profile </a>
      <a mat-tab-link *ngIf="isOwner" (click)="toggleEnterprise()" id="enterprise-toggle-button">
        {{ isEnterpriseView ? 'Personal View' : 'Enterprise View' }}
      </a>
      <a mat-tab-link (click)="logout()" id="logout-button">
        <span>Logout</span>
        <mat-icon id="logout-icon">logout</mat-icon>
      </a>
    </mat-menu>
  </div>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

<div id="main-content">
  <router-outlet></router-outlet>
</div>
  
<footer>
  <a>About Us</a>
  <a>Privacy Policy</a>
  <a>Terms & Conditions</a>
</footer>