<div class="nav-container" *ngIf="!isAuthPage">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">

    <div class="nav-logo-div" [routerLink]="isEnterpriseView ? 'enterprise/home' : 'home'">
      <h2> {{ isEnterpriseView ? "WW" : "WackyWheels" }} </h2>
      <h4> {{ isEnterpriseView ? "Enterprise" : "" }} </h4>
      <!-- <img class="nav-logo" src="assets/logo.png" alt="Logo"> -->
    </div>

    <!-- Navigation Links if large screen -->
    <div class="nav-links" id="nav-links-div">
      <!-- Personal links -->
      <a mat-tab-link *ngIf="!isEnterpriseView" routerLink="tracks">
        Tracks
      </a>
      <a mat-tab-link *ngIf="isLoggedIn && !isEnterpriseView" routerLink="reservations">
        Reservations
      </a>
      <a mat-tab-link *ngIf="isLoggedIn && !isEnterpriseView" routerLink="sessions">
        Sessions
      </a>

      <!-- Entreprise links -->
      <a mat-tab-link *ngIf="isLoggedIn && isEnterpriseView" routerLink="enterprise/home">
        My Tracks
      </a>
      <a mat-tab-link *ngIf="isLoggedIn && isEnterpriseView" routerLink="enterprise/home">
        Reservations
      </a>
    </div>
    
    <!-- User logged in -->
    <div *ngIf="isLoggedIn" class="account-div">
      <button routerLink="notifications" type="button" class="notifications-button">
        <mat-icon>notifications</mat-icon>
      </button>
      <button [matMenuTriggerFor]="profilemenu" type="button" class="profile-button">
        <span class="profile-name">{{ userName }}</span>
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
    <!-- Anonimous User or logged out -->
    <div *ngIf="!isLoggedIn" class="account-div">
      <button type="button" routerLink="auth" class="login-button">
        Login
        <mat-icon>login</mat-icon>
      </button>
    </div>

    <mat-menu #profilemenu="matMenu">
      <button mat-tab-link type="button" routerLink="profile">
        My Profile
      </button>
      <button mat-tab-link type="button" *ngIf="isOwner" (click)="toogleEnterprise()">
        {{ isEnterpriseView ? 'Go to personal' : 'Go to enterprise' }}
      </button>
      <button mat-tab-link type="button" (click)="logout()">
        Logout
      </button>
    </mat-menu>

  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>